
body{
    background-color: rgb(122, 88, 111);
    text-align: center;
    font-size: 24px;

}

.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline rgb(133, 95, 125);
    font-weight: bold;
}

.sienna{
    color: rgb(175, 129, 107);
    font-weight: bold;
}









  
  













